/* #azul{
    height: 45.5%;
} */
.img{
    width: 100%;
    height: 100%;
    margin: 1px;
}
#foto{
    width: 100%;
    height: 100%;
    margin: 1px;
    font-size: 100px;
}
.banner{
    width: 100%;
    height: 10rem;
}
/* #datos{
    height: 250px;
} */
/* #texto{
    height: 50px;
} */
/* #col {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} */
/* #rojo{
    height: 100%;
} */
#hijos{
    
}

.logo{
    width: 30%;

}